<h2>LitRPG Books</h2>
<div class="bookshelf">
    <% @books.each do |book| %>
        <section>
            <div class="book">
                <h4><%= book.title %></h4>
                <%= link_to(image_tag(book.cover_img), book) %>
                <p><%= year_of(book) %>
                <p><%= truncate(book.synopsis, length: 50, separator: ' ') %>
            </div>
        </section>
    <% end %>
</div>