<h1>LitRPG Books</h1>
<div class="bookshelf">
    <% @books.each do |book| %>
        <div class="book-ctr">
        <h4><%= book.title %></h4>
        <img src=<%= book.cover_img%> />
        <p><%= book.publish_date %>
        <p><%= book.synopsis %>
        </div>
    <% end %>
</div>