<h2>LitRPG Books</h2>
<div class="bookshelf">
    <% @books.each do |book| %>
        <section>
            <div class="book">
                <h4><%= link_to book.title, book %></h4>
                <img src=<%= book.cover_img%> />
                <p><%= year_of(book) %>
                <p><%= truncate(book.synopsis, length: 50, separator: ' ') %>
            </div>
        </section>
    <% end %>
</div>