<section class='book-details'>
    <div class='details'>
        <h1><%= @book.title %></h1>
        <img src=<%= @book.cover_img %> />
        <p>Published: <%= @book.publish_date %></p>
        <p><%= @book.synopsis %></p>
    </div>
</section>