<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="content">
      <%= render 'layouts/flash' %> 
      <%= yield %>  
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
